body{
background-color:rgb(141, 138, 138);
font-family: 'Times New Roman', Times, serif;
margin: 0;
padding: 0;
font-size: large;
}
header{
    background-color: rgb(32, 168, 55);
    width: 100%;
    padding: 30px;

}
h1,h2{
    margin: 0;
    padding: 0;
}
.text-logo{
    float: left;
}
.text-logo>h2{
color: white;
padding-top: .2ems;
}
.menu{
    float: right;
}
.menu >nav>a{
    color:blue;
    text-decoration:  none;
    padding-top: .5ems;
    margin-right: 2em ;
    
}